body {
  display: flex;
  justify-content: center;
  margin-top: 15%;
}

#titleText {
  text-align: center;
  font-size: 100px;
  text-decoration: underline;
}

#items {
  display: flex;
  flex: warp;
  text-align: center;
}

#items h4 {
  margin-top: -70px;
  font-size: 20px;
  flex: 3;
}
